{% macro render_boutonfield(field_fix, field_user) %}
<form name="form" id="{{field_fix.name}}" action="" method="post">
<div class="btn-group mr-2">
  {% for i in range(0,field_fix.num) %}
  <button
    type="submit"
    name="{{field_fix.name}}"
    value="{{field_fix.value[i]}}"
    class="btn btn-sm mt-3 {% if field_user.isSel[i] %} btn-success {% else %} btn-secondary {% endif %}">
    {{field_fix.label[i]}}
  </button>
  {% endfor %}
</div>
</form>
{% endmacro %}

{% macro render_radiofield(field_fix, field_user) %}
<form name="form" id="{{field_fix.name}}-form" action="" method="post">
<div class="btn-group btn-group-vertical mr-2", role="group">
{% for i in range(0, field_fix.num) %}
<button
  type="submit"
  name="{{field_fix.name}}"
  value="{{field_fix.value[i]}}"
  class="btn btn-sm m-0 p-0 text-left
    {% if field_user.isSel[i] == 0 %} btn-secondary
    {% elif field_user.isSel[i] == 1 %} btn-success
    {% elif field_user.isSel[i] == 2 %} btn-danger
    {% endif %}">
    {{field_fix.label[i]}}
    <span class="badge badge-dark badge-pill text-secondary">{{field_user.num[i]}}</span>
</button>
{% endfor %}
</div>
</form>
{% endmacro %}
