{% macro render_boutonfield(fix, user) %}
<form name="form" id="{{fix.name}}" action="" method="post">
<div class="btn-group mr-2">
  {% for i in range(0,fix.num) %}
  <button
    type="submit"
    name="{{fix.name}}"
    value="{{fix.value[i]}}"
    class="btn btn-sm mt-3 {% if user.isSel[i] %} btn-success {% else %} btn-secondary {% endif %}">
    {{fix.label[i]}}
  </button>
  {% endfor %}
</div>
</form>
{% endmacro %}

{% macro render_radiofield(fix, user, DATA) %}
<form name="form" id="{{fix.name}}-form" action="" method="post">
<div class="btn-group btn-group-vertical mr-2", role="group">
{% for i in range(0, fix.num) %}
<button
  type="submit"
  name="{{fix.name}}"
  value="{{fix.value[i]}}"
  class="btn btn-sm m-0 p-0 text-left
    {% if user.isSel[i] == 0 %} btn-secondary
    {% elif user.isSel[i] == 1 %} btn-success
    {% elif user.isSel[i] == 2 %} btn-danger
    {% endif %}">
    {{fix.label[i]}}
    <span class="badge badge-dark badge-pill text-secondary">{{DATA[fix.name]['num'][i]}}</span>
</button>
{% endfor %}
</div>
</form>
{% endmacro %}
