{% extends 'base.html' %}

{% block title %} BAM - Login {% endblock %}

{% block content %}

{{ p1 }}
{{ p2 }}

<nav class="navbar navbar-dark bg-dark justify-content-between py-md-0 py-0" >
  <div class="container-fluid" >
      <!-- Title -->
      <a class="navbar-brand" href="#">Basale Aufgaben Mathematik </a>
      <!-- input für image size, mode, etc -->
      <div class="btn-toolbar" >
          <form class="form-inline my-2 my-lg-0" method="POST">
            {{ form.csrf_token }}
            {{ form.username(placeholder='Kürzel', class='form-control form-control-sm mr-sm-2') }}
            {{ form.password(placeholder='password', class='form-control form-control-sm mr-sm-2') }}
            <input class="form-control btn-outline-success btn-dark btn-sm mr-sm-2" type="submit" value="Submit">
          </form>
      </div>
  </div>
</nav>
{% endblock %}
