<!DOCTYPE html>
<html>
  <head>
    <title>Aufgaben Mathematik (basal)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link href="static/css/my1.css" rel="stylesheet" type="text/css">
  </head>


<body>

    <h2>Simple Collapsible</h2>

    <!-- <div class="container" id="imgroup">

      <h2>Simple Collapsible</h2>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target=".demos">Simple collapsible</button>

      <div class="demos collapse " data-parent="#imgroup">
        <img src="http://www.google.com/images/icons/product/chrome-32.png" />
      </div>

      <div class="demos collapse show" data-parent="#imgroup">
        <img src="http://www.google.com/images/icons/product/search-32.png" />
      </div>

    </div>

 -->








  </body>
</html>
